.search {
    -webkit-appearance: none;
    border-radius: 50px;
    background-color: rgb(251, 253, 112);
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}